#include "armada-385-tg-tu-mainline.dts"

/* No comphy nodes in Marvell's kernel armada-38x.dtsi */

&eth0 {
	/delete-property/phys;
};

&eth1 {
	/delete-property/phys;
};

&eth2 {
	/delete-property/phys;
};
